.navbarStyle {



    justify-content: end !important;

}

.navbar {

    background-color: transparent !important;
    border-bottom: 2px solid black;
    font-weight: 900;

}

.nav-link {

    color: rgb(218, 129, 144) !important;
    text-shadow: 2px 2px 2px black !important;
    transition: 1s !important;
    border: 1px solid transparent;
    border-radius: 40px;
    margin-left: 1em;
    text-align: center;
}

.nav-link:visited, .nav-link:hover {

border-radius: 40px;
border: 1px solid black;

}


.navbarIcon {

    width: 40px;
    opacity: 0;


}